.new-message-wrapper{

}
.input-group{
  align-self: flex-end;

}
.form-control{
  border-radius: 0;
  border: 0;
  background-color: lightgray;

}
.form-control:focus{
  outline: 0;
  box-shadow: none;
}
