.mainDiv{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
}
.appdiv{
  margin-bottom: 20px;
}
.video{
  border: black solid 5px;
  width: 800px;
}
.divCall{
  float: left;
}
.presriptionDiV{
  margin-top: 5px;
  border: black dashed 1px;
}
