.example-chip-list {
  width: 100%;
}
.img{
  height: 200px;
  width: 200px;

}
.mainDiv{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
}

.profileCard{
  border: black solid 2px;
  border-radius: 3px;
  margin-top: 5px;
}
