<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a routerLink="/Patient-Home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>e</b>Doc</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{fullName}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Mr {{fullName}}
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a  class="btn btn-default btn-flat" (click)="signOut()">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <!--<li>-->
          <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
          <!--</li>-->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview">
          <a routerLink="/Consult-Doctor">
            <i class="fas fa-user-md"></i>&nbsp;
            <span>Consult a Doctor</span>
          </a>
        </li>
        <li class="treeview">
          <a routerLink="/Patient-Appointment">
            <i class="fas fa-calendar-check"></i>&nbsp;
            <span> My Appointments</span>
          </a>
        </li>
        <!--<li class="active treeview">-->

        <!--<ul class="treeview-menu">-->
        <!--<li class="active"><a routerLink="/Consult-Doctor" ><i class="fa fa-circle-o"></i> Consult a Doctor </a></li>-->
        <!--<li><a routerLink="/Patient-Appointment" ><i class="fa fa-circle-o"></i> My Appointments</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <li class="treeview active">
          <a routerLink="/Find-Doctor">
            <i class="fa fa-files-o"></i>&nbsp;
            <span>Find a Doctor</span>
          </a>
        </li>
        <li>
          <a routerLink="/My-Family-Doctors">
            <i class="fa fa-th"></i> &nbsp;<span>My Doctors</span>
            <span class="pull-right-container">

            </span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Find Doctor
        <small>Enter Your Symptoms and find Doctor</small>
      </h1>
    </section>
    <br><br>

    <section class="content">
      <div class="row w3-container w3-center mainDiv">

        <div class="col-lg-12">
        <div class="col-lg-9">

          <br>
          <mat-checkbox [(ngModel)]="isChild" style="float: left">Check if Patient is less than 14 Years</mat-checkbox>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let symptom of symstoms" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(symptom)">
                {{symptom.name}}
                <mat-icon matChipRemove *ngIf="removable"><b>&#x2716;</b></mat-icon>
              </mat-chip>
              <input placeholder="Enter Your Symptoms"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>

        </div>
        <div class="col-lg-3">
          <br><br>
          <button mat-raised-button="" (click)="findDoctor()">Find Doctor</button>

        </div>
        </div>

        <!--<div class="col-lg-12" *ngFor="let  d of doct">-->
        <!--<h2>{{d[0].fname}}    {{d[0].lname}}</h2>-->

        <!--</div>-->

        <div class="col-lg-12">
          <mat-form-field *ngIf="doctors!=null" style="float: left; width: 100%" >
            <mat-select placeholder="Select Catagory" #special (valueChange)="filter(special.value)">
              <mat-option value="All">All Doctors</mat-option>
              <mat-option *ngFor="let doc of doctorsForSepect"  [value]="doc.special" >
                {{doc.special}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">


          <!--<mat-chip-list >-->
            <!--<mat-chip>ssssssss</mat-chip>-->
            <!--<mat-chip>ssssssss</mat-chip>-->
          <!--</mat-chip-list>-->

          <div class="col-lg-4 w3-animate-opacity " *ngFor="let  d of doct">
            <br>
            <div class="card profileCard ">
              <img class="  img" src={{d[0].patientPic}} alt="Card image">
              <div class="card-body">
                <h4 class="card-title">Dr {{d[0].fname+ " " +d[0].lname}}</h4>
                <p class="card-text"><b>{{d[0].specilizedIn}}</b></p>
                <a [routerLink]="['/Doctor-Detail',d[0].did]" class="btn btn-primary">See Profile</a>
              </div>
            </div>
            <br>
          </div>


        </div>


      </div>


    </section>

    <!-- Main content -->

    <!-- /.content -->
  </div>


  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->

</div>
<!-- ./wrapper -->
</body>


