<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">eDoc</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">Navbar Link</a></li>
      <li><a href="#">Navbar Link</a></li>
      <li><a routerLink="/SignUp">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>


<div class="container">
  <div class="row col-lg-12">
    <div class="col-lg-4">
      <button mat-raised-button color="primary" (click)="doctorClick()">I am a Doctor</button>
    </div>
    <div class="col-lg-4">
      <button mat-raised-button color="primary" (click)="patientClick()">I am a Patient </button>
    </div>
    <div class="col-lg-4">
      <button mat-raised-button color="primary" (click)="phamacyClick()">I have a Pharmacy</button>
    </div>
  </div>
</div>
<div>
<div *ngIf="doctor">
  <button mat-raised-button color="primary">I am a Doctor</button>
</div><br>
<div *ngIf="patient" >
  <button mat-raised-button color="primary">I am a Patient</button>
</div><br>
<div *ngIf="pharmcay">
  <button mat-raised-button color="primary">I am a Pharmacy</button>
</div>
</div>
